<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>390002524491-jfqei5f96lrg5c20urvd82uc4j51van5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390002524491-jfqei5f96lrg5c20urvd82uc4j51van5</string>
	<key>API_KEY</key>
	<string>AIzaSyD5xsdi3lEfdtU4jy7dRGM-FZwjiSlD14s</string>
	<key>GCM_SENDER_ID</key>
	<string>390002524491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leftclq.DPEmployeeTask</string>
	<key>PROJECT_ID</key>
	<string>dpfirebasedemo</string>
	<key>STORAGE_BUCKET</key>
	<string>dpfirebasedemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390002524491:ios:4dd06ecc5e0ed1dc</string>
	<key>DATABASE_URL</key>
	<string>https://dpfirebasedemo.firebaseio.com</string>
</dict>
</plist>